.login-container {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.644) 0%, rgba(0, 0, 0, 0.411) 88%), url('../images/netflix-bg.jpeg');
}
.login-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

#login-logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 7.5rem;
    height: 2.5rem;
    cursor: pointer
}

.login-hero {
    height: 560px;
    background-color: #000000bb;
    padding: 40px 60px;
    border-radius: 5px;
    opacity: 0;
    animation: login-hero .3s ease-in forwards
}

@keyframes login-hero {
    100% {
        opacity: 1;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2{
    font-size: 34px;
    margin-bottom: 30px;
}

.login-form input {
    width: 310px;
    padding: 10px 20px;
    margin-bottom: 20px;
    outline: none;
    font-size: 18px;
    background-color: #454545;
    border: none;
    border-radius: 5px;
    color: white
}

.login-form button, .login-content button {
    border: none;
    background-color: #E50914;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.login-form button:hover, .login-content button:hover {
    background-color: #FF3A44
}

.fa-google {
    padding-right: 5px;
    font-size: 25px
}

.google-sign {
    color: #E50914;
    cursor: pointer;
}

.google-sign:hover {
    color: #FF3A44
}

.pass-div {
    position: relative;
}

.fa-eye-slash, .fa-eye {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    font-size: 17px
}

.signup-page {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.signup-page h3, .signup-page-link{
    font-size: 15px;
    margin: 10px 0;
    color: #818181;
    font-weight: 400;
    text-decoration: none;
}

.signup-page-link:nth-child(1) {
    text-decoration: none;
    color: white;
}

.signup-page-link {
    text-align: right;
}

.signup-page-link:hover {
    text-decoration: underline
}

.login-content h6 {
    word-wrap: break-word;
    margin-top: 15px;
    color: red;
    font-weight: 400;
    font-size: 13.5px;
}

@media (max-width: 600px) {
    .login-container {
        background-image: none;
        background-color: black
    }   
    .login-content {
        border-bottom: 5px solid #222222
    }
    .login-form input {
        width: 100%;
    }
    #login-logo { 
        display: none;
    }
    .login-hero {
        height: 650px;
        padding: 70px 40px;
    }
    .signup-page {
        line-height: 25px
    }
}