.movie-conteiner {
    /* height: 100vh; */
    margin-left: 70px;
}

.movie-nav {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

#movie-logo {
    width: 150px;
    height: 50px;
    margin-top: 30px;
}

.movie-content {
    max-width: 1000px;
    padding: 0 20px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: movie-content .4s ease-in forwards
}

@keyframes movie-content {
    100% {
        opacity: 1;
    }
}

.movie-content-info h2{
    font-size: 29px;
    margin-bottom: 5px
}

.movie-genre {
    margin-bottom: 15px
}

#add-to-later {
    margin-bottom: 30px;
    padding: 6px 9px;
    font-size: 13.5px;
    font-weight: 500;
    border: #FF2929 solid 1px;
    background-color: #0D0D0D;
    color: #FF2929;
    border-radius: 40px;
    cursor: pointer;
    transition: .2s ease-in
}

#add-to-later:hover {
    background-color: #FF2929;
    color: #000;
}

.movie-genre span{
    display: inline-block;
    font-size: 14px;
    background-color: rgb(255, 41, 41);
    margin-right: 10px;
    padding: 2px 4px;
    color: black;
    font-weight: 500
}

.movie-content-info p{
    font-size: 15px;
    color: gainsboro
}

.movie-content-info video{
    max-width: 100%;
    outline: none;
    margin-top: 30px

}

.movie-content-info textarea{
    width: 100%;
    outline: none;
    height: 80px;
    font-size: 17.5px;
    background-color: #0D0D0D;
    margin-top: 20px;
    color: white;
    border: none; 
    padding: 10px;
    margin-bottom: 10px;
}

.btn-div {
    display: flex;
    justify-content: space-between;
}

.btn-div p {
    font-size: 16px
}

.rate-movie {
    display: flex
}

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 8px 0;
  margin-right: 4px;
  font-size: 1.24em;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  content: "\f005";
  cursor: pointer;
}


.rating > label { 
 color: rgb(99, 93, 93); 
 float: right; 
}


.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label { color: #FF2929;  }
.rating > input:checked ~ label { color: #FF2929;  } 


.comment-form button{
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    color: whitesmoke;
    background-color: #0D0D0D;
    margin-bottom: 20px;
    border: solid 1px rgb(124, 124, 124)
}


.movie-content-info h5{
    font-size: 16px;
    font-weight: normal;
    margin-top: 65px !important
}

button:disabled {
    cursor:not-allowed;
    background-color: gray;
    color: black
}

.comment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid gray
}

.comment h3 {
    font-size: 19px;
    color: rgb(255, 92, 92);
    font-weight: 400;
}

.comment h3::after {
    content: "says:";
    color: #616161;
    margin-left: 6px;
    font-size: 13px
}

.comment h6 {
    font-size: 10.5px;
    font-weight: 200;
}

.comment p {
    margin-top: 45px;
    color: white
}

.comment input {
    margin-top: 15.5px;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 2px 5px;
    background-color: #464646;
    color: white;
}

#comment-error {
    color: red;
    font-size: 13px;
}

.edit-comment {
    background-color: inherit;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    color: rgb(255, 136, 0);

}

.delete-comment {
    background-color: inherit;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 14px;
    color: rgb(255, 0, 0);
    transform: translateX(-10px)
}

.comments-h2 {
    padding-bottom: 30px;
    margin-top: 30px 
}

@media (max-width: 1240px) {
    .movie-conteiner {
        margin: 0
    }
}